@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700');
html, body{
    margin: 0;
    padding: 0;
    font-family: "Blanc-Regular", Helvetica, Arial, sans-serif !important;
}

.floatRight{
    float: right;
    padding: 8px;
}

#petstore_root{
    nav{
        height: 54px;
        background-color: #ffffff;
        overflow: visible;
        margin-bottom: 0;
        border-bottom: 1px solid beige;
    }

    .navbar-header a{
        font-size: 36px;
        margin-left: 30px;
        font-family: 'Lobster Two', cursive;
    }

    .input-group .form-control, .input-group-addon, .input-group-btn{
        height: 40px;
        border-radius: 0;
        border: none;
        background-color: #fff;
    }

    .input-group-addon{
        cursor: pointer;

        &:hover{
            color: #fd6b54;
        }
    }
}


.Footer{
    background-color: #BFD8D2;
    .footer{
        margin: auto;
        width: 21%;
        padding: 15px;
        text-align: center;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li{
        float: left;
        display: block;
        padding: 15px;
        font-weight: bold;
    }

    p{
        margin-top: 0;
        font-weight: 100;
        font-style: italic;
    }
}

.content {
    .lists {
        background-color: #FEDCD2;
        h1{
            text-align: center;
            margin: 0;
            padding: 2%;
            color: #fd6b54;
        }

        .row {
            background-color: #f7f8f8;
            overflow: auto;
            padding: 10px 50px 10px 50px;

            &:first-child{
                padding-top: 30px;
            }
            &:last-child{
                padding-bottom: 30px;
            }
        }

        .grid{
            width: 19.3%;
            display: block;
            float: left;
            box-sizing: border-box;
            border: 1px solid #fd6b54;
            margin-right: 10px;
            padding-top: 10px;
            text-align: center;
            background-color: #f7f6f9;
        }

        .col-md-4 {
            max-height: 500px;
            a{
                color: #fd6b54;
            }

            p {
                width: 20em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        .table>tbody>tr>td{
            border-top: none;
            padding: 0.7%;
            width: 10%;
            vertical-align: middle;
        }

        .table {
            margin-bottom: 0;
        }

        td:last-child {
            p{
                margin: 0;
                vertical-align: middle;
                width: 30em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }

        }
    }

    .section1 {
        background-color: #FEDCD2;
        text-align: center;

        h2 {
            margin-top: 0;
            padding-top: 30px;
            font-weight: lighter;
            font-style: normal;
            font-size: 2.188rem;
            margin-bottom: 2.3125rem;
            line-height: 1.313rem;
            color: #fd6b54;
        }

        .row {
            background-color: #f7f8f8;
            overflow: auto;
            padding: 15px;

            img {
                width: 120px;
                height: 120px;
                padding: 15px 0;
            }

            h2 {
                margin: 0;
                padding: 10px 0;
                //border-top: 1px solid #fd6b54;
                background-color: #FEDCD2;
            }

            a {
                text-decoration: none;
                color: #fd6b54;
            }
        }

        .wrapper {
            margin: auto;
            width: 55%;
            padding-bottom: 40px;
        }

        .column {
            width: 49.7%;
            display: block;
            float: left;
            box-sizing: border-box;
            border: 1px solid #fd6b54;
            margin-right: 5px;
        }

        .column:last-child {
            margin-right: 0;
        }

        .column_small {
            width: 32.9%;
            display: block;
            float: left;
            box-sizing: border-box;
            border: 1px solid #fd6b54;
            margin-right: 5px;
        }

        .column_small:last-child {
            margin-right: 0;
        }
    }

    .section2 {
        background-color: #ffffff;
        div {
            padding: 3%;
            text-align: center;
        }

        em {
            font-size: 19px;
        }
    }

    .section3 {
        .row {
            width: 100%;
            overflow:hidden;
            margin: 0;
        }

        .row:first-child {
            padding-top:0;
        }

        .col {
            display: block;
            float: left;
            box-sizing: border-box;
            width: 50%;
            padding: 0;
            text-align: center;
            height: 509px;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            &:only-child {
                padding-right: 15px;
            }
        }

        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;

            .col-md-6 {
                padding: 0;

            }

        }

        .savelives{
            padding: 25.2% 5%;
            background-color: #fd6b54;
            p {
                font-size: 1.8rem;
                line-height: 2.26rem;
                color: #ffdcd2;
            }

            h5 {
                color: #ffffff;
            }
        }

        .shop{
            padding: 22.85% 10%;
            background-color: #dcf3ed;
            h5{
                color: #000;
            }

            p{
                font-size: 1.8rem;
                line-height: 2.26rem;
                color: #5bc0a5;
                margin: 4.5%;
            }
        }

        .adopt{
            padding: 22.85% 10%;
            background-color: #ffdcd2;
            h5{
                color: #000;
            }

            p{
                font-size: 1.8rem;
                line-height: 2.26rem;
                color: #fd6b54;
                margin: 4.5%;
            }
        }

        img{
            width: 100%;
            height: 510px;
        }

    }
}
